.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}
.new{
opacity: 0;

}
.new:hover{
    opacity: 5;
    
}
.trashbuttons:hover{
background-color:gray
}
.images{
    opacity: 0.71;
    height: 19px;
    width: 19px;
}
.pallete{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pop{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 170px;
    margin-left: 5px;
  }