.matcard {
    width: 400px;
    height:500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border: 2px solid white;
    border-width: thin;
    margin-top: 50px;
}
.nextbutton {
    border: none;
    background-color: #1a73e8;
    color: white;
    margin-top: 58px;
    font-size: 20px;
    padding: 2px 15px 2px 15px;
    
    border-radius: 4px;
}