textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

button{
    align-self:flex-end;
    background-color:transparent;
    border: none;
}
.update{
    box-sizing: border-box;
    bottom: 0;
    transition-property: opacity;
    color: rgba(0,0,0, 0.54 );
    border: black;
}
.example-spacer {
    flex: 1 1 auto;
}