<div style="display: flex;flex-direction: row;">
    <input matInput [(ngModel)]="title" placeholder="title">
    <img src="../../../assets/Dashboardimages/push_pin_black_24dp.svg" style="float: right;">
</div>


<div>
    <textarea matInput [(ngModel)]="description" placeholder="description"></textarea>
</div>

<div fxLayout="coloumn" fxLayoutAlign="space-between end">
    <div style="margin-left: -22px;">
        <mat-card style="margin-top: 10px;width: 564px;margin-top: 25px;bottom: -23px;">
            <div style="display: flex;flex-direction: row;">
                <app-icons></app-icons>
                <span class="example-spacer"></span>
                <button (click)="onupdate()" class="button">close</button>
            </div>
        </mat-card>
    </div>




</div>