<div [style.background-color]=data.color >
   
    <div>
        <textarea  class="description" cdkAutosizeMaxRows="10" cdkTextareaAutosize cdkAutosizeMinRows="1"  matInput [(ngModel)]="title" placeholder="title"></textarea>
        <img src="../../../assets/Dashboardimages/push_pin_black_24dp.svg" style="float: right;">
    </div>


    <div>
        <textarea class="description" cdkAutosizeMaxRows="10" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMinRows="1"  matInput [(ngModel)]="description" placeholder="description"></textarea>
    </div>

    

    <div fxLayout="coloumn" fxLayoutAlign="space-between end">
        <div style="margin-left: -22px;">
            <mat-card class="matcard">
                <div style="display: flex;flex-direction: row;">
                    <app-icons  [noteCard]='data' (iconstodisplay)="receivemessageTrashtoDisplay($event)"  ></app-icons>
                    <span class="example-spacer"></span>
                    <button (click)="onupdate()" class="button">close</button>
                </div>
            </mat-card>
        </div>
    </div>

</div>