textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

button{
    align-self:flex-end;
    background-color:transparent;
    border: none;
}
.update{
    box-sizing: border-box;
    bottom: 0;
    transition-property: opacity;
    color: rgba(0,0,0, 0.54 );
    border: black;
}
.example-spacer {
    flex: 1 1 auto;
}
::ng-deep.mat-dialog-container{
    padding:0px;
    overflow: hidden;
}
.description{
    background-color: transparent;
    width: 500px;
    margin-top: 30px;
    overflow: visible;
    letter-spacing: .00625em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-left: 10px;
}
.matcard{
    margin-top: 10px;width: 583px;margin-top: 0px;bottom: --27px;background-color: transparent;margin-left: 6px;
}