<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="matcard ">

        <div fxLayout="column" fxLayoutAlign="center center">

            <mat-card-title>
                <span style="color: #4285F4;">F</span>
                <span style="color: #EA4335;">u</span>
                <span style="color: #FBBC05;">n</span>
                <span style="color: #4285F4;">d</span>
                <span style="color: #34A853;">o</span>
                <span style="color: #EB4E41;">o</span>
            </mat-card-title>

            <h1 style="margin-top: 5px;">Account recovery</h1>
            <h3>This help us show that account really belongs to you</h3>
        </div>

        <form [formGroup]="resetPasswordform" (ngSubmit)="onSubmit()">




            <div fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field style="width: 400px; border-radius: 50%;" appearance="outline">
                    <mat-label>NewPassword</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
                <div style="margin-top: -20px;">
                    <span>Enter new passwword</span>
                </div>

                <mat-form-field style="width: 400px; border-radius: 50%; margin-top: 20px;" appearance="outline">
                    <mat-label>ConfirmPassword</mat-label>
                    <input matInput formControlName="Confirm">
                </mat-form-field>

                <div style="margin-top: -20px;">
                    <span>Re-Enter new passwword</span>
                </div>
            </div>

            <div>
                <button mat-button class="nextbutton">Next
                </button>
            </div>


        </form>
    </mat-card>

</div>