<mat-card class="matcard">
    <div style="display: flex;flex-direction: row;text-align: center; width: 50%;">
        <p style="font-size: 18px; color:#1a73e8 ;">F</p>
        <p style="font-size: 18px; color: rgb(234, 67, 53);;">u</p>
        <p style="font-size: 18px; color: rgb(251, 188, 5);">n</p>
        <p style="font-size: 18px; color: rgb(66, 133, 244);;">d</p>
        <p style="font-size: 18px; color: rgb(52, 168, 83);">o</p>
        <p style="font-size: 18px; color: rgb(234, 67, 53);">o</p>
    </div>
    <h2 class="h2" style="display: flex;flex-direction: column;align-items: center;">Account Recovery</h2>
    <H3 class="h3" style="display: flex;flex-direction: column;align-items: center;"> This helps show that this account
        really belongs to</H3>
    <span
        style="display: flex;flex-direction: column;align-items: center; margin-top: -20px; font-size: 16px;">you</span>


    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <button mat-button
                style="color:black; border:  solid black; border-width: thin; opacity: 0.7; padding: 12px 55px 12px 55px; font-size: 12px;">
               </button>
        </div>
    </div>

</mat-card>