<div style="display: flex;flex-wrap:wrap;gap:15px;flex-direction: row;justify-content: start;margin-left: 100px;margin-top: 50px;position: relative;">
    <mat-card class="example-card" fxFlex="300px" *ngFor='let note of notesarray'>
        <div>
            <img src="../../../assets/Dashboardimages/push_pin_black_24dp.svg" style="float: right; position: relative;">
            <mat-card-title (click)="openDialog(note)" class="matcardtitle">{{note.title}}</mat-card-title>

            <mat-card-content (click)="openDialog(note)" >
                <p  class="matcarddescription">{{note.description}}</p>
            </mat-card-content>
          
            <div>
                <app-icons  [noteCard]='note' (iconstodisplay)="recievefromiconstodisplaycard($event)"></app-icons>
            </div>
        </div>
    </mat-card>
</div>