.example-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 250px;
    min-height: 125px;
    padding: 16px 16px 8px;
    border: 1px solid ;
    border-radius: 9px;
    border-width: 1px ;
    margin-bottom: 25px;
    
}

.matcardtitle {
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-top: 12px;
}
.matcarddescription {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 13;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-card .icon{
    visibility: hidden;
}
.example-card:hover .icon{
    visibility: visible;
}
.example-button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 120px;
  }
.minifab{
    border-radius: 50%;background-color:darkgray;height: 24px;width: 24px;border: 2px solid white;
  }
.collabname{
    margin-left: 7px;
    margin-top: -15px;
    font-size: 13px;
  }