.example-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 250px;
    min-height: 125px;
    padding: 16px 16px 8px;
    border: 1px solid ;
    border-radius: 9px;
    border-width: 1px ;
    margin-bottom: 25px;
}

.matcardtitle {
    letter-spacing: 0.00625em;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-top: 12px;
}
.matcarddescription {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    word-wrap: break-word;
}
.example-card .icon{
    visibility: hidden;
}
.example-card:hover .icon{
    visibility: visible;
}