<mat-card class="matcard">
    <div style="display: flex;flex-direction: row;text-align: center; width: 50%;">
        <p style="font-size: 18px; color:#1a73e8 ;">F</p>
        <p style="font-size: 18px; color: rgb(234, 67, 53);;">u</p>
        <p style="font-size: 18px; color: rgb(251, 188, 5);">n</p>
        <p style="font-size: 18px; color: rgb(66, 133, 244);;">d</p>
        <p style="font-size: 18px; color: rgb(52, 168, 83);">o</p>
        <p style="font-size: 18px; color: rgb(234, 67, 53);">o</p>
    </div>
    <h2 class="h2" style="display: flex;flex-direction: column;align-items: center;">SIGN IN</h2>
    <H3 class="h3" style="display: flex;flex-direction: column;align-items: center;"> Use Your Google Account</H3>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div style="display: flex;align-items:flex-start; flex-direction: column;">


            <div>

                <mat-form-field style="width: 400px;" appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput formControlName="email">


                </mat-form-field>
            </div>

        </div>

        <div style="margin-top: -15px;">
            <button (click)="onforgetemail()" mat-button class="createaccount">Forget
                email?</button>
        </div>
        <div>
            <mat-form-field style="width: 400px;" appearance="outline">
                <mat-label>password</mat-label>
                <input matInput formControlName="password">



            </mat-form-field>
        </div>
        <div style="margin-top: -20px;">
            <button  mat-button class="createaccount">Forget
                Password?</button>
        </div>


        <div style="color:  #5f6368;margin-top: 45px;">
            Not your computer? Use Guest mode to sign in privately.
        </div>

        <div>
            <button style="margin-left: -6px;" mat-button class="createaccount">Lear
                more</button>
        </div>

        <div style="display: flex;flex-direction: row;">
            <div style="margin-top:50px;">
                <button mat-button class="createaccount">Create
                    Account</button>
            </div>
            <div>
                <button mat-button class="nextbutton" (click)="onSubmit">Login
                </button>
            </div>
        </div>

    </form>
</mat-card>
<div class="bottomdiv">
    <div>
        <button class="button">Help</button>
    </div>
    <div>
        <button class="button">privacy</button>
    </div>
    <div>
        <button class="button">Terms</button>
    </div>
</div>