<mat-card class="matcard">
    <h1 style="display: flex;flex-direction: column;align-items: center;">Fundoo Notes</h1>
    <h2  class="h2" style="display: flex;flex-direction: column;align-items: center;">SIGN IN</h2>
    <H3 class="h3" style="display: flex;flex-direction: column;align-items: center;"> Use Your Google Account</H3>
    <div style="display: flex;align-items:flex-start; flex-direction: column;">
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input class="inputbox" style="width: 328px;" matInput placeholder="Email or Phone"
                    formControlName="email">

                <mat-hint>Hint</mat-hint>

            </mat-form-field>
        </div>

    </div>

    <div style="margin-top: -26px;">
        <button mat-button class="createaccount">Forget
            email?</button>
    </div>

    
    <div style="color:  #5f6368;margin-top: 45px;">
        Not your computer? Use Guest mode to sign in privately. 
    </div>

    <div>
        <button  style="margin-left: -6px;" mat-button class="createaccount">Lear
            more</button>
    </div>

    <div style="display: flex;flex-direction: row;">
        <div style="margin-top:61px;">
            <button mat-button class="createaccount">Create
               Account</button>
        </div>
        <div>
            <button mat-button class="nextbutton">Next
            </button>
        </div>
    </div>


</mat-card>
<div class="bottomdiv">
    <div>
        <button class="button">Help</button>
    </div>
    <div>
        <button class="button">privacy</button>
    </div>
    <div>
        <button class="button">Terms</button>
    </div>
</div>