<div style="margin-top: 0px;">
    <h1 class="titletext">Collaborators</h1>
    <hr size="1px" width="100%" color="black" style="opacity: 0.2;">
</div>

<div class="ownerInfo">
    <div>
        <img src="../../../assets/collabarator/unnamed.jpg" width="36px" height="36px" style="border-radius: 50%;">
    </div>
    <div fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <span class="info">{{firstName}} {{lastName}} </span>
            <span class="owner">(owner) </span>
        </div>
        <span style="margin-left: -7px;color:#5f6368 ;"> {{email}} </span>
    </div>
</div>

<div *ngFor="let collab of collaboratorlist">
    <div class="collabinfo">
        <div>
            <img class="addcollabimage" src="../../../assets/collabarator/download.svg">

        </div>

        <div style="margin-top: 10px;">
            <div fxLayout="column" fxLayoutAlign="start center">

                <span class="info"> {{collab.firstName}} {{collab.lastName}} </span>

                <span style="margin-left: -7px;color:#5f6368 ;"> {{collab.email}} </span>
            </div>

        </div>
    </div>
</div>




<div class="collabinfo">
    <div>
        <img class="addcollabimage" src="../../../assets/collabarator/download.svg">

    </div>

    <div style="margin-top: 10px;">
        <input [(ngModel)]="collabemail" style="width: 300px;" [matMenuTriggerFor]="menu" class="collabtext"
            (keyup)='searchCollabs($event)' placeholder="person or email to share with">
        <mat-menu #menu="matMenu" yPosition="below">

            <div *ngFor='let users of userlist'>
                <button (click)="useremail(users)"
                    style="border: none;background-color: transparent;">{{users.email}}</button>
            </div>

        </mat-menu>
    </div>

</div>


<div style="display: flex;flex-direction: row;justify-content: flex-end;">

    <button class="buttons" (click)="addcollab()">save</button>
    <button (click)="onClose()" class="buttons">cancel</button>

</div>